{% extends "template.twig" %}

{% block content %}
    <style>
        .page-content {
            padding: 20px;
        }
    </style>
    <div class="container">
        <div class="row">
            <main class="col-sm-12">
                <div class="post_details" style="padding: 25px;">
                    <h1 class="entry-title">Advertising</h1>
                    <div class="entry-content">
                        <cite>Nouse</cite> is "the perfect way to reach the student population of York". From national graduate recruiters to local companies, <cite>Nouse</cite> welcomes any enquiries regarding advertising. Please feel free to email us on <a href="mailto:advertising@nouse.co.uk">advertising@nouse.co.uk</a> for our full advertising pack.
                        <br/><br/><h3>In print</h3>
                        <cite>Nouse</cite> is a free, high-quality, tabloid-sized newspaper. Released three times a term, Nouse distributes up to 4,000 copies to over a dozen areas right across campus, with an estimated readership of 11,000. We print adverts in full colour and in three different sizes, with quarter, half and full pages available. We can also run banner ads on request.
                        <br/><br/><h3>Online</h3>
                        With new content published almost every day, <em>Nouse.co.uk</em> reaches around 35,000 unique visitors per month. In the year to date Nouse.co.uk has been visited by nearly a quarter of a million unique visitors, a 66% increase year-on-year (July 2013).
<br/>
                        The new website, an increased editorial focus on sharing content, and the creation of the biggest events series on campus has driven increased traffic, and with it, display advertising online.
                        <br/>
                        With almost 1 million pageviews in the past six months (July 2013) - over 5,000 hits a day - Nouse.co.uk is the gateway to students at York. As Runner-Up, Guardian Student Publication of the Year, 2011/12, and the paper at the heart of <a href="http://www.grapevinevents.co.uk">Grapevine</a> - the nascent network of UK student journalists - it is also one of the most visited student sites in the country.
                        <br/>
                        Our primary web advertising slot is a 728x90 display slot on the top and bottom of every page online. We can also run non-standard sizes and skyscrapers in page sidebars.
                        <br/><br/><h3>More information</h3>
                        {# <a href="{{ CONFIG.FILESTOREURL }}/site-assets/attachments/Media%20Pack.pdf" class="btn btn-default"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Media Pack</a>
                        <a href="{{ CONFIG.FILESTOREURL }}/site-assets/attachments/Sponsorship%20Pack.pdf" class="btn btn-default"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Sponsorship Pack</a>
                    #}</div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}