{% extends "template.twig" %}

{% block content %}
    <style>
        .page-content {
            padding: 20px;
        }
    </style>
    <div class="container">
        <div class="row">
            <main class="col-sm-12">
                <div class="post_details" style="padding: 25px;">
                    <h1 class="entry-title">Archives</h1>
                    <div class="entry-content">
                        <figure>
                            <img  class="aligncenter img-responsive" src="{{CONFIG.FILESTOREURL}}/archive/public/articleImages/body/2014/09/nouse-archives.jpg" />
                        </figure>

                        This part of the website is dedicated to the decades-long history of Nouse, the University of York's oldest student society.

                        <br/><br/>The <a href="{{ CONFIG.ROOTFRONTENDURL }}/editions/">Edition Archive</a> contains online versions of the thrice-termly printed newspaper, from 2003 to the present. Older back-copies are available in the <a href="http://www.york.ac.uk/records-management/archive/finding-aids/student-publications/">Borthwick Institute for Archives</a>.

                        <br/><br/>The <a href="{{ CONFIG.FILESTOREURL }}/site-assets/attachments/editorialTeams.pdf">Previous Editorial Teams</a> document lists those who've contributed to the running of the newspaper in years gone by. It contains a record of the editorial teams from 2007-2018. Teams after 2018 are tracked by this website and appear on the <a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/team.php">team page</a>

                        <br/><br/>The <a href="https://mini-sites.nouse.co.uk/">Archived Mini-Sites</a> section lists mini-sites created for special events, such as YUSU elections or the Roses tournament.
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}