{% extends "template.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <main class="col-sm-10 col-sm-offset-1">
            <div class="post_details">
                <h1 class="entry-title">About Nouse</h1>
                <div class="entry-content">
                    <p>This is <cite>Nouse</cite>, the University of York&#8217;s largest, oldest, and best-known media outlet and one of the most highly-respected, nationally-acclaimed and award-winning student news providers in the country.</p>
                    <p><cite>Nouse</cite> experience represents an exceptionally valuable addition to any future journalist&#8217;s CV, recognised by industry experts nationwide.</p>
                    <p><cite>Nouse</cite> alumni who graduated just months ago are already working for the <cite>Financial Times</cite>, the <cite>Telegraph</cite> and the <cite>Times</cite>, while others have secured internships with national outlets such as the <cite>Guardian</cite>, <cite>Style</cite> and <cite>Wonderland</cite>. If you&#8217;re at all interested in training for the testing world of journalism during your time at University, there&#8217;s no better place.</p>
                    <p>Founded in 1964, making us the oldest society on campus, <cite>Nouse</cite> has consistently provided the student voice for generations of York students and an important critical voice of the University and the Students&#8217; Union.</p>
                    <p>Recent investigations into the University&#8217;s investment into the international arms trade led to divestment promises from the administration&#8217;s finance department and national acclaim, while a campaign to save campus porters lead by this newspaper ensured the survival of an important University service.</p>
                    <h3>YuStart</h3>
                    <p>In 2015, <cite>Nouse</cite> ran a successful YuStart campaign which raised over £1,000. We were grateful for the generosity of all our sponsors, but would like to thank Ben Crawley, Liam Dooley, Catherine Dunning and Kevin Murphy in particular.</p>
                    <h3>The formal stuff</h3>
                    <ul>
                        <li><del><a href="/wp-content/article_images/body/2006/03/Nouse-constitution-2012.pdf"><cite>Nouse</cite> Constitution</a> (updated 2012)</del></li>
                        <li><a href="/wp-content/article_images/body/2013/04/media-charter-2008.pdf">YUSU Media Charter</a> (as of February 2008)</li>
                        <li><a href="/wp-content/article_images/body/2013/03/NUJ_Code_of_Conduct.pdf">NUJ Code of Conduct</a></li>
                    </ul>
                    <h3 id="logo">Looking for the <cite>Nouse</cite> logo?</h3>
                    <p>You can download it in a range of formats, or read <a href="/2013/01/22/our-new-logo-a-word-from-the-designer/">a word from the designer</a>.</p>
                    <ul>
                        <li>Kingfisher + <i>Nouse</i> text: <a href="/static/logos/nouse-logo-full.3.png">PNG</a>, <a href="/static/logos/nouse-logo-full.3.svg">SVG</a></li>
                        <li>Kingfisher: <a href="/static/logos/kingfisher-1307-797.png">PNG</a>, <a href="/static/logos/kingfisher.svg">SVG</a>, <a href="/static/logos/kingfisher.tiff">TIFF</a>, <a href="/static/logos/kingfisher.ai">Adobe Illustrator</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}