{% extends "template.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 p_r_40">
            <div class="contact-info">
                <div class="contact-address">
                    <div class="contact-text">
                        <h3>Contact Info</h3>
                        <p>Article ideas? Questions? Something you would like us to follow up? Don’t hesitate to get in touch via the following methods:</p>
                    </div>
                    <div class="address-info">
                        <div class="media">
                            <div class="pull-left">
                                <img src="assets/img/icon/email.png" class="img-responsive" alt="">
                            </div>
                            <div class="media-body">
                                <h4 class="addon-title">Email Address</h4>
                                <div class="addon-text"><a href="mailto:editor@nouse.co.uk">editor@nouse.co.uk</a><br>
                                    <a href="mailto:support@nouse.co.uk" class="__cf_email__">support@nouse.co.uk</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="address-info">
                        <div class="media">
                            <div class="pull-left">
                                <img src="assets/img/icon/agenda.png" class="img-responsive" alt="">
                            </div>
                            <div class="media-body">
                                <h4 class="addon-title">Address</h4>
                                <div class="addon-text"> Nouse, Eric Milner White Court, Newton Way<br>
                                    Heslington, York, YO10 5DE</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6 p_l_40">
            <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
            <div id="map" class="gmap1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.151749550079!2d-1.058209284265656!3d53.94681238010931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487930348a9f945f%3A0x393ecb844c74e3ff!2sEric+Milner-White+Court!5e0!3m2!1sen!2suk!4v1544379838583" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}