{% extends "template.twig" %}

{% block content %}
<style>
.page-content {
    padding: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="contact-info">
                <div class="contact-address">
                    <div class="contact-text">
                        <h3>Contact Info</h3>
                        <p>Article ideas? Questions? Something you would like us to follow up? Don’t hesitate to get in touch via the following methods:</p>
                    </div>
                    <h4>Email <i class="fa fa-envelope-o" aria-hidden="true"></i></h4>
                    <a href="mailto:editor@nouse.co.uk">editor@nouse.co.uk</a><br>
                    <a href="mailto:support@nouse.co.uk" class="__cf_email__">support@nouse.co.uk</a>
                    <h4>Address <i class="fa fa-map-signs" aria-hidden="true"></i></h4>
                    Nouse, Eric Milner White Court, Newton Way<br>
                                    Heslington, York, YO10 5DE

                    <h3>Write for us</h3>
                    We're always looking for more input. <a href="/about-nouse/whos-nouse/">Contact the editorial team</a> if you want to pitch an article or ask how to get involved.
                    <h3>Advertise with us</h3>
                    See the <a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/advertising.php">Advertising</a> page for details or email us on <a href="mailto:advertising@nouse.co.uk">advertising@nouse.co.uk</a>.
                    <h3 id="complaints">Complaints</h3>
                    Please address any complaints to the editor, contact details as above.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
            <div id="map" class="gmap1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.151749550079!2d-1.058209284265656!3d53.94681238010931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487930348a9f945f%3A0x393ecb844c74e3ff!2sEric+Milner-White+Court!5e0!3m2!1sen!2suk!4v1544379838583" style="width:100%; height: 600px;" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}