{% extends "template.twig" %}

{% block content %}
    <style>
        .page-content {
            padding: 20px;
        }
    </style>
<div class="container">
    <div class="row">
        <main class="col-sm-12">
            <div class="post_details" style="padding: 25px;">
                <h1 class="entry-title">Welcome to Nouse!</h1>
                <div class="entry-content">
                    <p>We are the University of York’s oldest student group, established in 1964. Since we were founded, we have produced award-winning student journalism and the next generation of leading York graduates. Whether you have had an interest in furthering a career in journalism, or want to build invaluable skills and rewarding experiences outside of your degree, form friendships and work as part of a motivated team, you have come to the right place.
                    </p><p>
                    <cite>Nouse</cite> is a community of writers, editors, photographers, designers, illustrators, and so much more. <cite>Nouse</cite> has the largest committee on campus, around 60+ of us, and there is something for everybody. We have sections in <cite>Nouse</cite> including News, Sport, Comment, Science and Politics, to MUSE, our culture section of the paper, including Arts, Film and TV, Food and Travel, to name a few. It doesn’t matter what you are interested in or how much experience you have: we want you! It is never too late to get involved, and you won’t regret it.</p>
                    <h3>How to get involved</h3>
                    <p>Joining <cite>Nouse</cite> is easy! You can get involved at any time and no experience is required. The first thing to do is buy a membership on the YUSU website, which can be purchased <a href="https://yusu.org">here</a>. Membership entitles you to submit content for print and online.</p><p>
                    The second thing to do is join the main Facebook group <a href="https://www.facebook.com/groups/1907105602887578/">here</a>. This group is a general group, but we also have groups specific to all our sections, simply search ‘<cite>Nouse</cite> X’ (i.e. ‘<cite>Nouse</cite> Politics’ or ‘<cite>Nouse</cite> Science’) to find out more about writing and getting involved. Feel free to join as many as you like!</p><p>
                    Each section of the paper has its own dedicated editorial team. You can contact the team for each section via social media or email. The email address for each section is ‘X@Nouse.co.uk’ (i.e. ‘politics@Nouse.co.uk’ or ‘science@Nouse.co.uk’). Check the ‘Meet the Team’ page on the website for the personal emails of individual editors <a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/team.php">here</a>.</p><p>
                    If you’d like to be on the team, then come along to our casual elections that we host after the first print edition of our paper each year in October (again, follow our Facebook page to keep informed on dates and times <a href="https://www.facebook.com/yorknouse/">here</a>). Or, you can come along to our by-elections that we host if positions become available on the team throughout the year.</p><p>
                    Alternatively, you can just write for us without working for a specific section on the team. There are some great writing opportunities to interview interesting people and organisations, gain press access to review theatre performances, write sport coverage, trial new places, foods and whole hosts of events, or even write opinion based articles too. The opportunities that come with student journalism are not to miss!</p>
                    <h3>The structure of how we make our content</h3>
                    <p>Our content is split between our printed newspaper and our website. Content can be published online at any time. <cite>Nouse</cite> is the only newspaper at York that prints multiple times each term: three times in terms one and two and twice in term three, totalling eight times a year. We also make some exciting print supplements throughout the year, including London Fashion Week, Roses and the YUSU elections.</p><p>
                    We spend just over a week producing each printed edition, which we call a 'prod week'. All new editions are released on a Tuesday, with prod weeks beginning nine days prior, on a Sunday. Our MUSE culture sections are produced first, followed by the “main paper” sections.</p><p>
                    For each prod week, there are two prod meetings at which content is pitched for the edition. The MUSE prod meeting usually occurs on the Friday before prod week begins, eleven days before release, with the main paper prod meeting occurring on the first Monday of prod week, eight days before release.</p><p>
                    All members, as well as anybody interested in joining the paper, are welcome to attend these meetings to suggest ideas and get involved. Keep an eye on the Facebook groups to find out meeting times and don’t be afraid to just turn up and introduce yourself!</p>
                    <h3>Any more questions?</h3>
                    <p>We hope you will decide to get involved with York’s oldest and greatest student group! If you have any further questions about the paper and how to get stuck in, don’t hesitate to get in touch via social media or by emailing ‘nouse@yusu.org’. Joining <cite>Nouse</cite> may well be the best decision you make while studying at York!</p>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}