{% extends "template.twig" %}

{% block content %}
    <style>
        .page-content {
            padding: 20px;
        }
    </style>
    <div class="container">
        <div class="row">
            <main class="col-sm-12">
                <div class="post_details" style="padding: 25px;">
                    <h1 class="entry-title">Website Credits</h1>
                    <div class="entry-content">
                        <p>
                        The <cite>Nouse</cite> website is the cumulative effort of several people over several decades:
                        <ul>
                            <li><a href="http://www.pling.org.uk/">Chris Northwood</a></li>
                            <li>Mike Tomasello</li>
                            <li><a href="http://alex.mullr.net/">Alex Muller</a></li>
                            <li><a href="http://ali.clark.gb.net/">Ali Clark</a></li>
                            <li><a href="http://af.wave3k.net/">Andrew Fairbairn</a></li>
                            <li>Ivaylo Hristakiev</li>
                            <li><a href="https://twitter.com/Frost_J">Jonathan Frost</a></li>
                            <li>Andrew Ryan</li>
                            <li><a href="http://joshuagoodw.in">Josh Goodwin</a></li>
                            <li><a href="http://waterson.co">Tim Waterson</a></li>
                            <li>Owen Hurford</li>
                            <li>Toby Makins</li>
                            <li>Matt Carabine</li>
                            <li>Neel Chotai</li>
                            <li><a href="https://jbithell.com">James Bithell</a></li>
                        </ul>
                        The <a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/#logo">new kingfisher logo</a> was designed for <cite>Nouse</cite> by <a href="http://www.linkedin.com/in/sebastianbrixeywilliams">Seb Brixey-Williams</a>.

                        <br/><br/>We're powered by a custom built CMS originally designed and written by James Bithell in 2018.
                        </p>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}