{% extends "template.twig" %}
{% block content %}
<div class="middle-box">
    <div class="row">
        <div class="col-sm-12">
            <div class="error-text">
                <h1>4<span class="error bounce">0</span><span>4</span></h1>
                <h3><span>Page</span><br class="hidden-xs"> Not Found</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="error-desc">
                <p>Sorry, but the page you are looking for has not been found. Drop us an email on <a href="mailto:web@nouse.co.uk">web@nouse.co.uk</a> if you clicked on a link to get here and we'll try and put it right!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}