{% extends "template.twig" %}
{% block htmlIncludes %}

{% endblock %}

{% block prePageContent %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form method="GET">
                    <div class="input-group-lg" style="margin-bottom: 5px;">
                        <input type="text" class="form-control" name="q" autofocus placeholder="Search {{ totalArticlesCountForSearch|number_format }} articles" value="{{ searchTerm }}">
                    </div>
                </form>
                <hr/>
            </div>
            <main class="col-sm-12 col-md-12 content p_l_40">


                {% embed 'elements/articleList.twig' with {'articles':  articles } %}
                {% endembed %}
            </main>
        </div>
    </div>
{% endblock %}
