version: '3'
services:
  caddy:
    image: caddy/caddy:2-alpine
    ports:
      - 80:80
      - 443:443
    volumes:
      - caddy:/data
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./ssl/ssl.key:/etc/ssl/private/ssl.key
      - ./ssl/ssl.crt:/etc/ssl/certs/ssl.crt
      - ./ssl/origin-pull-ca.pem:/etc/ssl/certs/origin-pull-ca.pem
    environment:
      ACME_AGREE: 'true'
    env_file:
      - nouseprod.env
    depends_on:
      - db
      - nouse
      - phpmyadmin
  db:
    image: mysql/mysql-server:5.7
    command: --default-authentication-plugin=mysql_native_password
    container_name: db
    volumes:
      - db_data:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
    restart: always
    environment:
      - MYSQL_DATABASE=nouse
      - MYSQL_ROOT_HOST=%
      - MYSQL_USER=userDocker
      - MYSQL_PASSWORD=passDocker
      - MYSQL_ROOT_PASSWORD=rootPass
    env_file:
      - nouseprod.env
  nouse:
    build: .
    container_name: nouse-container
    restart: always
    depends_on:
      - db
    environment:
      - MYSQL_HOSTNAME=db
      - MYSQL_DATABASE=nouse
      - MYSQL_USER=userDocker
      - MYSQL_PASSWORD=passDocker
    env_file:
      - nouseprod.env
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.0
    container_name: phpmyadmin
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_ARBITRARY=1
      - PMA_USER=userDocker
      - PMA_PASSWORD=passDocker
    restart: always
    depends_on:
      - db
    volumes:
      - /sessions
  compressor:
    build: ./compressor
    restart: always
    depends_on:
      - db
    environment:
      - MYSQL_HOSTNAME=db
      - MYSQL_DATABASE=nouse
      - MYSQL_USER=userDocker
      - MYSQL_PASSWORD=passDocker
    env_file:
      - nouseprod.env
  mysql-backup:
     image: databack/mysql-backup:latest
     container_name: mysql-backup
     environment:
       - DB_SERVER=db
       - DB_PORT=3306
       - DB_USER=root
       - DB_PASS=rootPass
       - DB_NAMES=nouse
       - DB_DUMP_FREQ=1440 #Daily
       - DB_DUMP_BEGIN=0230 #2:30am
       - COMPRESSION=gzip
       - NICE=true
     env_file:
       - nouseprod.env
     depends_on:
       - db
     volumes:
       - /etc/localtime:/etc/localtime:ro
  netdata:
    hostname: yusunouse01.york.ac.uk
    image: netdata/netdata
    container_name: netdata
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    depends_on: #Relies on everything because it needs to start last in order to access details of docker containers
      - caddy
      - nouse
      - db
      - phpmyadmin
      - mysql-backup
      - compressor
    volumes:
      - ./netdata/config:/etc/netdata:ro
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
volumes:
  netdatalib:
  netdatacache:
  caddy:
  db_data: { }