nouseAdminPassword=makeSomethingUpHereBase64+Bcrypt

caddyUseInternalSelfSignedCertificate= #Leave empty if the hostname is resolvable (like it is on campus servers), otherwise set to "internal"
serverHostname=serverip/hostname

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-central-003
AWS_ENDPOINT_URL=https://s3.eu-central-003.backblazeb2.com
DB_DUMP_TARGET=s3://nouseDatabaseBackups

AWS_CDN=https://bbcdn.nouse.co.uk/file/nousePublicBackendUploads
AWS_BUCKET=nousePublicBackendUploads

bCMS__SendGridAPIKEY=

bCMS__SUPPORTEMAIL=support@nouse.co.uk
bCMS__EMAIL=support@nouse.co.uk

bCMS__FRONTENDURL=https://nouse.co.uk
bCMS__BACKENDURL=https://edit.nouse.co.uk

bCMS__SENTRYLOGIN=
bCMS__SENTRYLOGINPUBLIC=

bCMS__GoogleAnalyticsFrontend=UA-1386191-3
bCMS__GoogleAnalyticsBackend=UA-1386191-4

bCMS__OAUTHCLIENT=
bCMS__OAUTHSECRET=

bCMS__APPLENEWSKEY=
bCMS__APPLENEWSSECRET=
bCMS__APPLENEWSCHANNEL=

bCMS__JIRAWIDGET=

bCMS__IFTTT=

bCMS__CLOUDFLARE_EMAIL=tech@nouse.co.uk
bCMS__CLOUDFLARE_SECRET=

bCMS__RECAPTCHA_KEY=
bCMS__RECAPTCHA_SECRET=