MYSQL_ROOT_PASSWORD=makesomethinguphere

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=nouse
AWS_DEFAULT_REGION=ams3
AWS_ENDPOINT_URL=ams3.digitaloceanspaces.com
AWS_CDN=https://nouse.ams3.cdn.digitaloceanspaces.com
DB_DUMP_TARGET=s3://nouse/backup/database/production

bCMS__FILESTOREURL=https://nouse.ams3.cdn.digitaloceanspaces.com

bCMS__SendGridAPIKEY=

bCMS__SUPPORTEMAIL=support@nouse.co.uk
bCMS__EMAIL=support@nouse.co.uk

bCMS__FRONTENDURL=https://nouse.co.uk
bCMS__BACKENDURL=https://edit.nouse.co.uk

bCMS__SENTRYLOGIN=
bCMS__SENTRYLOGINPUBLIC=

bCMS__GoogleAnalyticsFrontend=UA-1386191-3
bCMS__GoogleAnalyticsBackend=UA-1386191-4

bCMS__OAUTHCLIENT=
bCMS__OAUTHSECRET=

bCMS__APPLENEWSKEY=
bCMS__APPLENEWSSECRET=
bCMS__APPLENEWSCHANNEL=

bCMS__JIRAWIDGET=

bCMS__IFTTT=

bCMS__CLOUDFLARE_EMAIL=tech@nouse.co.uk
bCMS__CLOUDFLARE_SECRET=

bCMS__RECAPTCHA_KEY=
bCMS__RECAPTCHA_SECRET=


