{% extends "feeds/template.twig" %}
{% block content %}

    <ttl>15</ttl>
    {#<item>
        <title><![CDATA[Our Brexit deal is at risk, May warns EU leaders]]></title>
        <description><![CDATA[The PM says the withdrawal deal "can be passed" but MPs must be assured the backstop is not a "trap".]]></description>
        <link>https://www.bbc.co.uk/news/uk-politics-46560807</link>
        <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-politics-46560807</guid>
        <pubDate>Thu, 13 Dec 2018 23:22:01 GMT</pubDate>
        <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/41A7/production/_104770861_theresamayeuleaders_afp.jpg"/>
    </item>#}
{% endblock %}