{% extends "assets/template.twig" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Welcome to the new Nouse Backend</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    Thank you for your patience over our migration to this our lovely new home!<br/>
                    Please do get in touch via <a href="mailto:support@nouse.co.uk">support@nouse.co.uk</a> if you run into any issues, things are badly explained/designed/confusing or if you have ideas for fancy new things you'd like the site to do!

                    <br/><br/>Huge Nouse love ❤ as ever, <br/><br/>
                    <i>James Bithell</i><br>Technical Director
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Things to do now</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    Please visit <a href="account.php">my account settings</a>:
                    <ul>
                        <li>Check your name and details are correct</li>
                        <li>Check you current and historical positions are correct (drop support@ an email if they're not and I'll put it right)</li>
                        <li>Add your social media profiles so they appear alongside your articles</li>
                        <li>Add a profile picture if you'd like to</li>
                    </ul>
                    Please then check any articles that you added to the new site after 1st December 2018 to ensure everything migrated across correctly.<br/><br/>
                    If you're a section editor please then visit <a href="featured.php">featured articles</a> to set the articles you'd like to highlight in your section
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}