{
    # Top level config and options for Caddy
	http_port  80
	https_port 443
	admin off

	# TLS Options
    email tech@nouse.co.uk  #Used to generate Letsencrypt certificates
}
{$serverHostname:localhost} {
    #Extra Tools

    route /auth* {
        auth_portal {
          backends {
            generic_oauth2_backend {
                method oauth2
                realm nouse
                provider nouse
                domain_name edit.nouse.co.uk
                client_id CADDY
                client_secret bqxDRS7h8uAgXc
                scopes email
              }
          }
        }
    }
    route /tools/* {
        jwt {
          primary yes
          trusted_tokens {
            static_secret {
              token_name access_token
              token_secret bqxDRS7h8uAgXc
            }
          }
          auth_url /auth/oauth2/nouse
          allow roles verified
        }
        route phpmyadmin/* {
            uri strip_prefix /tools/phpmyadmin
            reverse_proxy phpmyadmin:80
        }
        route netdata/* {
            uri strip_prefix /tools/netdata
            reverse_proxy netdata:19999
        }
    }


    reverse_proxy nouse:80

    encode gzip
}
www.nouse.co.uk nouse.co.uk edit.nouse.co.uk {
    tls /etc/ssl/certs/ssl.crt /etc/ssl/private/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/ssl/certs/origin-pull-ca.pem
        }
    }
    reverse_proxy nouse:80
    encode gzip
}
stats.nouse.co.uk {
    tls /etc/ssl/certs/ssl.crt /etc/ssl/private/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/ssl/certs/origin-pull-ca.pem
        }
    }
    reverse_proxy grafana:3001
    encode gzip
}