{
    # Top level config and options for Caddy
	http_port  80
	https_port 443
	admin off

	# TLS Options
    email tech@nouse.co.uk  #Used to generate Letsencrypt certificates
}
{$serverHostname:localhost} {
    #Extra Tools

    basicauth /tools/* bcrypt {
        nouseAdmin {$nouseAdminPassword:JDJ5JDEyJERYNy9hRDVBRi93U2VWaWRvZXlNSmVDQkpmLkE5MjhmTXdpcU5rWTh5VVRRdUVVNmhVbzdHIA==} #default is "password" - needs to be a base64 hash of bcrypt
    }
    route /tools/phpmyadmin/* {
        uri strip_prefix /tools/phpmyadmin
        reverse_proxy phpmyadmin:80
    }
    route /tools/netdata/* {
        uri strip_prefix /tools/netdata
        reverse_proxy netdata:19999
    }

    reverse_proxy nouse:80

    encode gzip
}
www.nouse.co.uk nouse.co.uk {
    tls /etc/ssl/certs/ssl.crt /etc/ssl/private/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/ssl/certs/origin-pull-ca.pem
        }
    }
    reverse_proxy nouse:3000
    encode gzip
}
edit.nouse.co.uk {
    tls /etc/ssl/certs/ssl.crt /etc/ssl/private/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/ssl/certs/origin-pull-ca.pem
        }
    }
    reverse_proxy nouse:80
    encode gzip
}
stats.nouse.co.uk {
    tls /etc/ssl/certs/ssl.crt /etc/ssl/private/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/ssl/certs/origin-pull-ca.pem
        }
    }
    reverse_proxy grafana:3001
    encode gzip
}