---
import HeaderNavbar from "../components/HeaderNavbar.astro";
import SearchInterface from "../components/SearchInterface.astro";

export interface Props {
  title: string;
  active: string;
}

const { title, active } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {/* Adobe Fonts */}
    <link rel="stylesheet" href="https://use.typekit.net/ghx5ucu.css" />
  </head>
  <body>
    <SearchInterface />
    <HeaderNavbar active={active} />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: "arno-pro", serif;
    font-weight: 400;
    font-style: normal;
    @apply bg-whiteish;
  }
</style>
