---
import Navbar from "@components/Navbar.astro";
import SearchInterface from "@components/SearchInterface.astro";

export interface Props {
  title: string;
  active: string | undefined;
  style: "nouse" | "muse";
}

const { title, active, style } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-whiteish-100 font-arno font-normal">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {/* Adobe Fonts */}
    <link rel="stylesheet" href="https://use.typekit.net/ghx5ucu.css" />
    {/* Iconify icons */}
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  </head>
  <body>
    <SearchInterface />
    <Navbar active={active} style={style} />
    <slot />
  </body>
</html>
