/* css for RSS xsl */

body{background-color:#fff;border:0px;margin:10px;font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";font-size:80%;font-weight:normal;color:#000000;}
form{margin:0px;padding:0px;}
h2{margin:0px;padding:5px 0px;font-size:140%;}
p{margin:0px;padding:5px 0px;}

a:link{text-decoration:none;font-size:100%;color:#000099;}
a:visited{text-decoration:none;font-size:100%;color:#6666CC;}
a:active{text-decoration:none;font-size:100%;color:#000099;}
a:hover{font-size:100%;color:#000099;text-decoration:underline;}

a.item:link{font-weight:bold;}
a.item:visited{font-weight:bold;}
a.item:active{font-weight:bold;}
a.item:hover{font-weight:bold;}

.topbox{width:100%;}
.banbox{width:100%;background:url("/feeds/boxbar2.gif") repeat-x;}

.mainbox{width:100%;background:url("/feeds/boxbar2.gif") repeat-x;padding-top:10px;}
.itembox{width:62%;float:left;padding-top:10px;}
.rhsbox{border-left:1px dashed #999;width:36%;float:right;}
.footerbox{clear:both;width:100%;border-top:1px solid #000;}

#item ul {list-style:none;margin:0px;padding:0px;border:none;}
#item li {margin:0;padding:5px 0px;}
.rhsbox ul {list-style-type:disc;margin:0px 20px;padding:0px;border:none;}
.rhsbox li {margin:0;padding:5px 0px;}

.padtopbox{padding:10px;border:1px solid #999;}
.paditembox{padding:10px 5px 10px 10px;}
.padbanbox{padding:20px 10px 10px 10px;}
.padrhsbox{padding:10px 0px 20px 10px;}

.subhead{font-weight:bold;}
.disclaim{font-size:11px;color:#999;}

.mvb{margin-bottom:5px;}
.fltl{float:left;}
.fltclear{clear:both;}
