---
interface Props {
  baseUrl: string;
}

const { baseUrl } = Astro.props;
---

<a href={baseUrl} class="mx-auto self-center">
  {/* This is needed to stretch the svg */}
  <div class="my-5 h-15 w-81 bg-nouse-logo bg-fill"></div>
</a>
