---
import MuseComponent from "@solidComponents/MuseComponent";
import { getMenuCategories } from "./utils/categories";
import {
  articlesWithArticleDrafts,
  getArticleImage,
  getArticles,
} from "./utils/articles";
import type { MuseNavbarCategory } from "./types";
import Article from "./SolidJS/Article";

type articlesWithArticlesDraftAndLink = articlesWithArticleDrafts & {
  imageUrl: string;
};

const museMenuCategories = (await getMenuCategories("muse")).filter(
  (category) => category.categories_name !== "nouse"
);

const categories = museMenuCategories.reduce((accumulator, currentCategory) => {
  accumulator.push({
    name: currentCategory.categories_name,
    displayName: currentCategory.categories_displayName
      ? currentCategory.categories_displayName
      : "",
  });

  return accumulator;
}, [] as MuseNavbarCategory[]);

const articles = new Map<string, articlesWithArticlesDraftAndLink[]>();

for (let i = 0; i < museMenuCategories.length; i++) {
  const featuredArticles = museMenuCategories[i]
    .categories_featured!.split(",")
    .map(Number);

  const articlesList = (await getArticles(featuredArticles)).slice(0, 4);
  const articlesArray = await Promise.all(
    articlesList.map(async (article) => {
      return {
        ...article,
        imageUrl: await getArticleImage(article),
      };
    })
  );

  articles.set(museMenuCategories[i].categories_name, articlesArray);
}
---

<div class="relative mt-4 flex w-full flex-col bg-black" id="muse-banner">
  <a href="/muse" class="flex w-full flex-row">
    <img
      class="mx-auto my-4 w-[27%] md:w-[14%]"
      src="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/MUSE%20Logo%20White%20small.png"
    />
  </a>

  <MuseComponent client:visible categories={categories} articles={articles} />
</div>
