---
import { Icon } from "astro-icon";
import Article from "./Article.astro";
import SearchComponent from "./SolidJS/SearchComponent";
---

<div
  class="bg-whiteish-100 invisible fixed top-0 bottom-0 left-0 right-0 z-50 flex flex-col opacity-0 transition-opacity duration-500 overflow-y-scroll md:overflow-hidden"
  id="searchInterface"
>
  <button
    id="searchCloseBtn"
    class="absolute top-0 right-0 w-16 p-2 text-black"
  >
    <Icon name="ic:baseline-close" />
  </button>
  <div class="mx-auto my-auto w-full p-4 flex flex-col">
    <SearchComponent client:idle />
  </div>
</div>

<script>
  const closeBtn = document.getElementById("searchCloseBtn") as HTMLElement;
  const searchInterface = document.getElementById(
    "searchInterface"
  ) as HTMLElement;

  closeBtn.addEventListener("click", () => {
    console.log("click");
    searchInterface.classList.add("invisible", "opacity-0");
  });
</script>

<style is:global={true}>
  .category-text {
    font-family: "arno-pro-display", serif;
    font-weight: 700;
    font-style: normal;
  }
  /* Article category text colour */
  .category-color-3B82B8 {
    color: #3b82b8;
  }
  .category-color-E4362D {
    color: #e4362d;
  }
  .category-color-000000 {
    color: #000000;
  }
  .category-color-932E6C {
    color: #932e6c;
  }
  .category-color-EDB321 {
    color: #edb321;
  }
  .category-color-2B4988 {
    color: #2b4988;
  }
  .category-color-019940 {
    color: #019940;
  }
  .category-color-797CAF {
    color: #797caf;
  }
  /* Article border colour */
  .border-color-3B82B8 {
    border-color: #3b82b8;
  }
  .border-color-E4362D {
    border-color: #e4362d;
  }
  .border-color-000000 {
    border-color: #000000;
  }
  .border-color-932E6C {
    border-color: #932e6c;
  }
  .border-color-EDB321 {
    border-color: #edb321;
  }
  .border-color-2B4988 {
    border-color: #2b4988;
  }
  .border-color-019940 {
    border-color: #019940;
  }
  .border-color-797CAF {
    border-color: #797caf;
  }
</style>