---
import { Icon } from "astro-icon";
import SearchComponent from "./SolidJS/SearchComponent";
---

<div
  class="bg-whiteish-100 invisible fixed top-0 left-0 z-50 flex h-screen w-screen flex-col opacity-0 transition-opacity duration-500"
  id="searchInterface"
>
  <button
    id="searchCloseBtn"
    class="absolute top-0 right-0 w-16 p-2 text-black"
  >
    <Icon name="ic:baseline-close" />
  </button>
  <SearchComponent client:idle />
</div>

<script>
  const closeBtn = document.getElementById("searchCloseBtn") as HTMLElement;
  const form = document.getElementById("searchForm") as HTMLFormElement;
  const searchInterface = document.getElementById(
    "searchInterface"
  ) as HTMLElement;

  closeBtn.addEventListener("click", () => {
    searchInterface.classList.add("invisible", "opacity-0");
  });
</script>
