---
import { Icon } from "astro-icon";
import Article from "./Article.astro";
import SearchComponent from "./SolidJS/SearchComponent";
---

<div
  class="bg-whiteish-100 invisible fixed top-0 bottom-0 left-0 right-0 z-50 flex flex-col overflow-y-scroll opacity-0 transition-opacity duration-500 md:overflow-hidden"
  id="searchInterface"
>
  <button
    id="searchCloseBtn"
    class="absolute top-0 right-0 w-16 p-2 text-black"
  >
    <Icon name="ic:baseline-close" />
  </button>
  <div class="mx-auto my-auto flex w-full flex-col p-4">
    <form
      id="searchForm"
      class="mx-auto mb-10 mt-10 flex flex-row items-center md:mt-0"
    >
      <input
        id="searchBox"
        type="text"
        class="bg-whiteish-100 w-min border-b-2 border-black outline-none sm:text-3xl md:text-4xl lg:text-5xl xl:text-7xl"
        placeholder="What are you looking for?"
        size="25"
      />
      <button class="relative h-10 w-10 md:h-14 md:w-14 lg:h-20 lg:w-20">
        <Icon name="ic:sharp-search" class="h-full w-full text-black" />
      </button>
    </form>
  </div>
</div>

<script>
  // Show / hide
  const closeBtn = document.getElementById("searchCloseBtn") as HTMLElement;
  const searchInterface = document.getElementById(
    "searchInterface"
  ) as HTMLElement;

  closeBtn.addEventListener("click", () => {
    searchInterface.classList.add("invisible", "opacity-0");
  });

  // Form
  const form = document.getElementById("searchForm") as HTMLFormElement;
  const input = document.getElementById("searchBox") as HTMLInputElement;

  form.addEventListener("submit", (ev) => {
    ev.preventDefault();

    const query = encodeURIComponent(input.value);
    if (query.length > 0) {
      window.location.href = `${import.meta.env.BASE_URL}search?q=${query}`;
    }
  });
</script>

<style is:global>
  .category-text {
    font-family: "arno-pro-display", serif;
    font-weight: 700;
    font-style: normal;
  }
  /* Article category text colour */
  .category-color-3B82B8 {
    color: #3b82b8;
  }
  .category-color-E4362D {
    color: #e4362d;
  }
  .category-color-000000 {
    color: #000000;
  }
  .category-color-932E6C {
    color: #932e6c;
  }
  .category-color-EDB321 {
    color: #edb321;
  }
  .category-color-2B4988 {
    color: #2b4988;
  }
  .category-color-019940 {
    color: #019940;
  }
  .category-color-797CAF {
    color: #797caf;
  }
  /* Article border colour */
  .border-color-3B82B8 {
    border-color: #3b82b8;
  }
  .border-color-E4362D {
    border-color: #e4362d;
  }
  .border-color-000000 {
    border-color: #000000;
  }
  .border-color-932E6C {
    border-color: #932e6c;
  }
  .border-color-EDB321 {
    border-color: #edb321;
  }
  .border-color-2B4988 {
    border-color: #2b4988;
  }
  .border-color-019940 {
    border-color: #019940;
  }
  .border-color-797CAF {
    border-color: #797caf;
  }
</style>
