---
import { Icon } from "astro-icon";
---

<div
  class="invisible fixed top-0 bottom-0 left-0 right-0 z-50 flex flex-col overflow-y-scroll bg-whiteish-100 opacity-0 transition-opacity duration-500 md:overflow-hidden"
  id="searchInterface"
>
  <button
    id="searchCloseBtn"
    class="absolute top-0 right-0 w-16 p-2 text-black"
  >
    <Icon name="ic:baseline-close" />
  </button>
  <div class="mx-auto my-auto flex w-full flex-col p-4">
    <form
      id="searchForm"
      class="mx-auto mb-10 mt-10 flex flex-row items-center md:mt-0"
    >
      <input
        id="searchBox"
        type="text"
        class="w-min border-b-2 border-black bg-whiteish-100 outline-none sm:text-3xl md:text-4xl lg:text-5xl xl:text-7xl"
        placeholder="What are you looking for?"
        size="25"
      />
      <button class="relative h-10 w-10 md:h-14 md:w-14 lg:h-20 lg:w-20">
        <Icon name="ic:sharp-search" class="h-full w-full text-black" />
      </button>
    </form>
  </div>
</div>

<script>
  // Show / hide
  const closeBtn = document.getElementById("searchCloseBtn") as HTMLElement;
  const searchInterface = document.getElementById(
    "searchInterface"
  ) as HTMLElement;

  closeBtn.addEventListener("click", () => {
    searchInterface.classList.add("invisible", "opacity-0");
  });

  // Form
  const form = document.getElementById("searchForm") as HTMLFormElement;
  const input = document.getElementById("searchBox") as HTMLInputElement;

  form.addEventListener("submit", (ev) => {
    ev.preventDefault();

    const query = encodeURIComponent(input.value);
    if (query.length > 0) {
      window.location.href = `${import.meta.env.BASE_URL}search?q=${query}`;
    }
  });
</script>
