{
	http_port 80
	admin off
}
localhost.tools {
	basic_auth /tools/* {
		nouseAdmin password
	}
	route /tools/phpmyadmin/* {
		uri strip_prefix /tools/phpmyadmin
		reverse_proxy phpmyadmin:80
	}
	route /tools/netdata/* {
		uri strip_prefix /tools/netdata
		reverse_proxy netdata:19999
	}

    php_fastcgi php-container:9000 {
		# try /index.php if no file specified
        try_files {path} /index.php
    }

	encode gzip
}
localhost {
	handle /api/* {
		reverse_proxy react-container:3000
	}
	reverse_proxy astro-container:4321
	encode gzip
}
edit.localhost {
	root * /var/www/html/admin
	php_fastcgi php-container:9000 {
		# try /index.php if no file specified
		try_files {path} /index.php
	}

	# Directory index rewrite
	@dirIndex {
		path_regexp dir ^(.*)/$
		file {http.matchers.path_regexp.dir.1}/index.php
	}
	rewrite @dirIndex {http.matchers.path_regexp.dir.1}/index.php

	header {
		Access-Control-Allow-Origin "*"
	}

	handle_errors {
		@notFound {
			expression {http.error.status_code} == 404
		}
		rewrite @notFound /index.php
		php_fastcgi php-container:9000
	}
}
oauth.internal {
    root * /var/www/html/admin
    php_fastcgi php-container:9000
}
edit1.localhost {
	reverse_proxy react-container:3000
	encode gzip
}
