@import "tailwindcss";

body {
  color: black;
  background-color: rgb(245 239 235);
  font-family:
    arno-pro,
    ui-serif,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
}

span {
  color: black;
}

svg.h-4 {
  height: 1.25rem;
}

.py-1 {
  height: 40px;
  width: 32px;
}
