@import "tailwindcss";

body {
  color: black;
  background-color: rgb(245 239 235);
  font-family:
    playfair-display,
    ui-serif,
    Georgia,
    Cambria,
    Times New Roman,
    Times,
    serif;
}

#author-details.text-base,
#author-details.text-4xl,
#author-details > p,
#author-details > h1 > span {
  color: white;
}

span,
p,
h1,
h2,
h3,
svg,
img {
  color: black;
}

svg.h-4 {
  height: 1.25rem;
}

.py-1 {
  height: 40px;
  width: 32px;
}

#article-content > p {
  color: black;
}

.bg-navbar {
  font-family: "Raleway", sans-serif;
  background-color: #000;
  line-height: 20px;
}

#mobileNav {
  font-family: "Raleway", sans-serif;
}

#desktopNav {
  font-size: 18px;
}

#article-content > p > a {
  color: blue;
  text-decoration: underline;
}
