@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*body {*/
/*  color: black;*/
/*  background-color: rgb(245 239 235);*/
/*  font-family:*/
/*          arno-pro,*/
/*          ui-serif,*/
/*          Georgia,*/
/*          Cambria,*/
/*          Times New Roman,*/
/*          Times,*/
/*          serif;*/
/*}*/

/*span {*/
/*  color: black;*/
/*}*/

/*svg.h-4 {*/
/*  height: 1.25rem;*/
/*}*/

/*.py-1 {*/
/*  height: 40px;*/
/*  width: 32px;*/
/*}*/
