---
import Layout from "src/layouts/Layout.astro";

// Static render this page
export const prerender = true;
---

<Layout active={undefined} style={"nouse"} title={"About Us - Nouse"}>
  <div
    class="min-h-[69dvh] min-h-[69vh] px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]"
  >
    <h1 class="mb-4 text-center text-2xl sm:text-4xl">About Us</h1>
    <div class="mb-4 text-xs xl:text-sm 2xl:text-base">
      <p>
        We are Nouse the University of York’s oldest society and an award-winning newspaper. We were founded in 1964 by Nigel Fountain, and have been covering major campus events ever since, most recently breaking the news of the death of beloved campus duck Long-Boi. 
      </p>
      <p>
        There is some ambiguity about where our name comes from. It is pronounced N-Ouse, like the River Ouse in York, but also links to the ancient Greek nous, which translates to intellect or common sense.
      </p>
      <p>
        Nouse comprises 6 sections: News, Business, Comment, Politics, Science and Sport. 
We also have an arts and entertainment magazine called MUSE, covering everything from theatre, music, film and games. As of 2023, we have also started two radio shows in collaboration with URY (York Student Radio.) We have two shows, one for Nouse called Nousecast and one for Muse known as Musings. This has allowed us to broaden our audience and expand our coverage on multi-media platforms to engage further with the student community. 

      </p>
      <p>
        Nouse and Muse publish regularly throughout the year and can be found across both campuses in the student media containers. We cover a multitude of topics ranging from investigations into the University and the Students’ Union to local and national politics and film and TV reviews. We are also constantly publishing a variety of articles online. The news never stops, so neither does Nouse !
      </p>
      <p>
        We welcome everyone, no matter what their writing experience might be and encourage new and diverse voices.
      </p>
      <p>
        The Nouse experience represents an exceptionally valuable addition to any future journalist's CV, recognised by industry experts nationwide. Nouse alumni work for the Financial Times, the Telegraph and the Times, and others have secured internships with national outlets such as the Guardian, Style and Wonderland. If you're interested in training for the testing world of journalism during your time at University, there's no better place than Nouse. 
      </p>
    </div>
    <div class="mb-4">
      <p class="text-xl sm:text-2xl">YuStart</p>
      <p class="text-xs xl:text-sm 2xl:text-base">
        In 2015, Nouse ran a successful YuStart campaign which raised over
        £1,000. We were grateful for the generosity of all our sponsors, but
        would like to thank Ben Crawley, Liam Dooley, Catherine Dunning and
        Kevin Murphy in particular.
      </p>
    </div>
    <div class="mb-4">
      <p class="text-xl sm:text-2xl">Looking for the Nouse logo?</p>
      <p class="text-xs xl:text-sm 2xl:text-base">
        You can download it in a range of formats, or read <a
          href={`${
            import.meta.env.BASE_URL
          }2013/01/22/our-new-logo-a-word-from-the-designer/`}
          class="text-blue-900 hover:underline">a word from the designer</a
        >.
      </p>
      <ul class="list-inside list-disc text-xs xl:text-sm 2xl:text-base">
        <li>
          Kingfisher + Nouse text: <a
            href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/nouse-logo-full3.png"
            class="text-blue-900 hover:underline">PNG</a
          >, <a
            href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/nouse-logo-full3.svg"
            class="text-blue-900 hover:underline">SVG</a>
        </li>
        <li>
          Kingfisher: <a
            href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/kingfisher-1307-797.png"
            class="text-blue-900 hover:underline">PNG</a
          >, <a
            href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/kingfisher.svg"
            class="text-blue-900 hover:underline">SVG</a
          >, <a
            href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/kingfisher.tiff"
            class="text-blue-900 hover:underline">TIFF</a
          >, <a
            href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/Kingfisher.ai"
            class="text-blue-900 hover:underline">Adobe Illustrator</a>
        </li>
      </ul>
    </div>
  </div>
</Layout>
