---
import Layout from "src/layouts/Layout.astro";
---

<Layout active={undefined} style={"nouse"} title={"About Us - Nouse"}>
  <div class="h-[69vh] md:h-[66vh] px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
    <h1 class="mb-4 text-center text-2xl sm:text-4xl">About Us</h1>
    <div class="mb-4 text-xs xl:text-sm 2xl:text-base">
      <p>
        This is Nouse, the University of York's oldest society and an
        award-winning newspaper.We publish regular print editions which include
        investigations in the University and the Students' Union alongside
        multiple online articles. We are always looking for new writers or team
        members, so if you are interested, please get involved!
      </p>
      <p>
        Nouse experience represents an exceptionally valuable addition to any
        future journalist's CV, recognised by industry experts nationwide. Nouse
        alumni work for the Financial Times, the Telegraph and the Times, while
        others have secured internships with national outlets such as the
        Guardian, Style and Wonderland. If you're at all interested in training
        for the testing world of journalism during your time at University,
        there's no better place.
      </p>
    </div>
    <div class="mb-4">
      <p class="text-xl sm:text-2xl">YuStart</p>
      <p class="text-xs xl:text-sm 2xl:text-base">
        In 2015, Nouse ran a successful YuStart campaign which raised over £1,000. We were grateful for the generosity of all our sponsors, but would like to thank Ben Crawley, Liam Dooley, Catherine Dunning and Kevin Murphy in particular.
      </p>
    </div>
    <div class="mb-4">
      <p class="text-xl sm:text-2xl">Looking for the Nouse logo?</p>
      <p class="text-xs xl:text-sm 2xl:text-base">
        You can download it in a range of formats, or read <a
          href={`${import.meta.env.BASE_URL}2013/01/22/our-new-logo-a-word-from-the-designer/`}>a word from the designer</a
        >.
      </p>
      <ul class="list-inside list-disc text-xs xl:text-sm 2xl:text-base">
        <li>Kingfisher + Nouse text: <a href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/nouse-logo-full3.png">PNG</a>, <a href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/nouse-logo-full3.svg">SVG</a></li>
        <li>Kingfisher: <a href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/kingfisher-1307-797.png">PNG</a>, <a href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/kingfisher.svg">SVG</a>, <a href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/kingfisher.tiff">TIFF</a>, <a href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/Kingfisher.ai">Adobe Illustrator</a></li>
      </ul>
    </div>
  </div>
</Layout>
