---
import Layout from "src/layouts/Layout.astro";
---

<Layout active={undefined} style={"nouse"} title={"Advertising - Nouse"}>
  <div class="h-[69vh] md:h-[66vh] px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
    <h1 class="mb-4 text-center text-2xl sm:text-4xl">
      Advertising with Nouse
    </h1>
    <p class="text-center text-xs xl:text-sm 2xl:text-base">
      Our website currently doesn't support running ads. Please check back
      later.
    </p>
  </div>
</Layout>
