---
import Layout from "src/layouts/Layout.astro";

// Static render this page
export const prerender = true;
---

<Layout active={undefined} style={"nouse"} title={"Archives - Nouse"}>
  <div class="px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
    <h1 class="mb-4 text-center text-2xl sm:text-4xl">Archives</h1>
    <img
      class="mx-auto mb-5"
      src="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/headerImages/nouse-archives.jpg"
    />
    <div class="text-xs xl:text-sm 2xl:text-base">
      <p>
        This part of the website is dedicated to the decades-long history of
        Nouse, the University of York's oldest student society.
      </p>
      <br />
      <p>
        The <a
          href={`${import.meta.env.BASE_URL}editions`}
          class="text-blue-900 hover:underline">Edition Archive</a
        > contains online versions of the thrice-termly printed newspaper, from 2003
        to the present. Older back-copies are available in the <a
          href="https://www.york.ac.uk/borthwick/"
          >Borthwick Institute for Archives</a
        >.
      </p>
      <br />
      <p>
        The <a
          href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/attachments/editorialTeams.pdf"
          class="text-blue-900 hover:underline"
          >Previous Editorial Teams document</a
        > lists those who've contributed to the running of the newspaper in years
        gone by. It contains a record of the editorial teams from 2007-2018. Teams
        after 2018 are tracked by this website and appear on the <a
          href={`${import.meta.env.BASE_URL}team`}>team page</a
        >.
      </p>
      <br />
      <p>
        The <a
          href="https://mini-sites.nouse.co.uk/"
          class="text-blue-900 hover:underline">Archived Mini-Sites</a
        > section lists mini-sites created for special events, such as York SU elections
        or the Roses tournament.
      </p>
    </div>
  </div>
</Layout>
