---
import Layout from "../layouts/Layout.astro";
import FeaturedArticles from "../components/FeaturedArticles.astro";
import type { featuredHome } from "@prisma/client";
import prisma from "../prisma";
import BannerEdition from "../components/BannerEdition.astro";
import Muse from "../components/Muse.astro";

// Get featured articles ids
const featuredArticlesIds: featuredHome | null =
  await prisma.featuredHome.findFirst({
    orderBy: {
      featuredHome_timestamp: "desc",
    },
  });
---

<Layout title="Welcome to Astro." active="home" style="nouse">
  <main class="pt-8">
    <div class="px-[0.5%] 2xl:px-[13%]">
      <FeaturedArticles
        featuredArticlesIds={featuredArticlesIds?.featuredHome_articles
          ?.split(",")
          .map(Number)}
      />
      <BannerEdition />
    </div>
    <Muse />
  </main>
</Layout>
