---
import Layout from "@layouts/Layout.astro";
import FeaturedArticles from "@components/FeaturedArticles.astro";
import BannerEdition from "@components/BannerEdition.astro";
import Muse from "@components/Muse.astro";
import FeaturedSection from "@components/FeaturedSection.astro";
import { getFeaturedSectionsCategories } from "@componentsUtils/categories";
import NavbarColourSwitcher from "@components/NavbarColourSwitcher.astro";
import { type IFeaturedHome } from "@components/types";

const apiBase = import.meta.env.PUBLIC_API_BASE_URL;

const res = await fetch(`${apiBase}/api/frontend/featuredArticlesIds`);
const featuredArticlesIds: IFeaturedHome = await res.json();

const categories = await getFeaturedSectionsCategories();
---
<Layout title="Nouse" active="home" style={"nouse"}>
  <main>
    <div class="px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
      <div id="featured-articles">
        <FeaturedArticles
          featuredArticlesIds={featuredArticlesIds?.articles
            ?.split(",")
            .map(Number)}
          style={"nouse"}
        />
      </div>
      <BannerEdition />
    </div>
    <Muse />
    <div class="featured-sections px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
      {
        categories.map((category) => (
          <div id={`${category.categories_name}-section`}>
            <FeaturedSection category={category} style={"nouse"} />
          </div>
        ))
      }
    </div>
  </main>
  <NavbarColourSwitcher featuredCategories={categories} style={"nouse"} />
</Layout>
