---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import FeaturedArticles from '../components/FeaturedArticles.astro';
---

<Layout title="Welcome to Astro." active="home" style="nouse">
	<main class="mt-5 px-[1%] max-w-[1536px] mx-auto">
		<FeaturedArticles />
	</main>
</Layout>
