---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import FeaturedArticles from '../components/FeaturedArticles.astro';
---

<Layout title="Welcome to Astro." active="home" style="nouse">
	<main class="pt-8 2xl:px-[13%] px-[0.5%]">
		<FeaturedArticles />
	</main>
</Layout>
