---
import Layout from "@layouts/Layout.astro";
---

<Layout active={undefined} style={"nouse"} title={"Join - Nouse"}>
  <div
    class="min-h-[69dvh] min-h-[69vh] px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]"
  >
    <h1 class="mb-4 text-center text-2xl sm:text-4xl">Welcome to Nouse!</h1>
    <div class="mb-4 text-xs xl:text-sm 2xl:text-base">
      <p>
        We are the University of York's oldest student group, established in
        1964. Since we were founded, we have produced award-winning student
        journalism and the next generation of leading York graduates. Whether
        you have had an interest in furthering a career in journalism, want to
        build invaluable skills and rewarding experiences outside of your
        degree, or just simply form friendships and work as part of a motivated
        team - you have come to the right place.
      </p>
      <br />
      <p>
        Nouse is a community of writers, editors, photographers, designers,
        illustrators, and so much more. Nouse has the largest committee on
        campus (there is around 60+ of us) and there is something for everybody.
        You do not need any prior experience in either journalism or editing -
        the only thing you will need is passion, the ability to learn new
        skills, and dedication.
      </p>
      <br />
      <p>We have sections in Nouse including:</p>
      <ul class="list-inside list-disc text-xs xl:text-sm 2xl:text-base">
        <li>
          <a
            href={`/news`}
            class="text-blue-900 hover:underline">News</a
          > (the chance to report on local, campus and nation-wide student focused
          news - if you're looking to be a journalist this is the place for you!
          You could have the opportunity for professional media law training, interview
          opportunities and the ability to learn proper investigative journalism.)
        </li>
        <li>
          <a
            href={`/sport`}
            class="text-blue-900 hover:underline">Sport</a
          > (If you're a lover of all things sports this is where you need to be
          - Sport gives you the chance to report on campus and national sports across
          the board. We also have a section called 'Sport Comment' wherein you can
          express any sports-related opinions you may have)
        </li>
        <li>
          <a
            href={`/comment`}
            class="text-blue-900 hover:underline">Comment</a
          > (Have you got an opinion on something either national or campus based?
          This is the place for you! In the past we have had articles ranging from
          Vegan sausage rolls and geese to political affairs and human rights issues
          - the range and diversity of the comment section is its crowning jewel)
        </li>
        <li>
          <a
            href={`/science`}
            class="text-blue-900 hover:underline">Science</a
          > (Are you fascinated by some new scientific discoveries and want to share
          them with the rest of the student body? Well, why not write for Nouse Science
          and gain the ability to report on anything scientific!)
        </li>
        <li>
          <a
            href={`/politics`}
            class="text-blue-900 hover:underline">Politics</a
          > (Want to be a political journalist? This is the place for you. Our wide-ranging
          politics section gives you the ability to report on local politics, national
          politics as well as politics from across the globe.)
        </li>
      </ul>
      <br />
      <p>
        These sections make up what we call 'main paper' - which is similar to
        that of a usual broadsheet newspaper.
      </p>
      <br />
      <p>
        If this isn't your style, why not check out Nouse's younger sibling,
        Muse? Muse is our cultural section of the paper and includes the
        sections:
      </p>
      <ul class="list-inside list-disc text-xs xl:text-sm 2xl:text-base">
        <li>
          <a
            href={`/muse/arts`}
            class="text-blue-900 hover:underline">Arts</a
          > (A look at art, literature, theatre and performance, with regular reviews
          and features covering everything from international bestsellers to campus
          performances.)
        </li>
        <li>
          <a
            href={`/muse/features`}
            class="text-blue-900 hover:underline">Features</a
          > (Our broadest section, comprising long form pieces with a specific cultural
          focus. These could be interviews with artists or musicians, in depth discussions
          of literature or more personal pieces of contributor's hands-on experiences.)
        </li>
        <li>
          <a
            href={`/muse/film`}
            class="text-blue-900 hover:underline">Film and TV</a
          > (This one does what it says on the tin - this is where you will find
          all of our reviews of film and television, both new releases and fresh
          takes on classic media.)
        </li>
        <li>
          <a
            href={`/muse/travel`}
            class="text-blue-900 hover:underline">Travel</a
          > (Share your travel stories, whether they are local or further afield.
          This is the section where contributors can provide summaries of interrailing
          trips, UK staycations or simply day trips in and around Yorkshire.)
        </li>
        <li>
          <a
            href={`/muse/music`}
            class="text-blue-900 hover:underline">Music</a
          > (Reviews, features and more opinion focused pieces make up our music
          section, covering a diverse range of music from across the spectrum.)
        </li>
        <li>
          <a
            href={`/muse/fashion`}
            class="text-blue-900 hover:underline">Fashion</a
          > (From news straight from the runway, to style guides and broader discussions
          about ethical fashion or street style, Fashion is for anyone interested
          in fashion or streetwear.)
        </li>
        <li>
          <a
            href={`/muse/shoot`}
            class="text-blue-900 hover:underline">Shoot</a
          > (Are you a budding photographer or just someone who has an interest in
          fashion and style? Each edition our team put together a photoshoot themed
          around a particular style, theme or concept.)
        </li>
        <li>
          <a
            href={`/muse/gaming`}
            class="text-blue-900 hover:underline">Gaming</a
          > (From reviews of the latest video games, to retrospective pieces looking
          at classic games and consoles, Gaming covers not only video games but also
          board games and ESports.)
        </li>
        <li>
          <a
            href={`/muse/food-drink`}
            class="text-blue-900 hover:underline">Food & Drink</a
          > (Our Food & Drink team compile recipes, restaurant reviews and longer
          features to help students with cooking inspiration and also in navigating
          the food scene here in York.)
        </li>
      </ul>
      <p>
        It doesn't matter what you are interested in or how much experience you
        have: we want you! It is never too late to get involved, and you won't
        regret it.
      </p>
    </div>
    <div class="mb-4">
      <p class="text-xl sm:text-2xl">How to get involved</p>
      <div class="text-xs xl:text-sm 2xl:text-base">
        <p>
          Joining Nouse is easy! You can get involved at any time and no
          experience is required. The first thing to do is buy a membership on
          the York SU website, which can be purchased <a
            href="https://yorksu.org/activities/view/nouse"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">here</a
          >. Membership entitles you to submit content for print editions and
          any online articles you wish to write.
        </p>
        <br />
        <p>
          The second thing to do is join the main Facebook group <a
            href="https://www.facebook.com/groups/1907105602887578/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">here</a
          >, and follow us on social media using the links in the header to find
          out when our elections are being held.
        </p>
        <br />
        <p>
          Each section of the paper has its own dedicated editorial team. You
          can contact the team for each section via social media or email. The
          email address for each section is 'X@Nouse.co.uk' (i.e.
          'politics@Nouse.co.uk' or 'science@Nouse.co.uk'). Check the 'Meet the
          Team' page on the website for the personal emails of individual
          editors <a
            href={`/team`}
            class="text-blue-900 hover:underline">here</a
          >.
        </p>
        <br />
        <p>
          If you'd like to be on the team, then come along to our casual
          elections that we host after the first print edition of our paper each
          year in October (again, follow our Facebook page to keep informed on
          dates and times <a
            href="https://www.facebook.com/yorknouse/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">here</a
          >). Or, you can come along to our by-elections that we host if
          positions become available on the team throughout the year.
        </p>
        <br />
        <p>
          Alternatively, you can just write for us without working for a
          specific section on the team. There are some great writing
          opportunities to interview interesting people and organisations, gain
          press access to review theatre performances, write sport coverage,
          trial new places, foods and whole hosts of events, or even write
          opinion based articles too. The opportunities that come with student
          journalism are not to miss!
        </p>
      </div>
    </div>
    <div class="mb-4">
      <p class="text-xl sm:text-2xl">
        The structure of how we make our content
      </p>
      <div class="text-xs xl:text-sm 2xl:text-base">
        <p>
          Our content is split between our printed newspaper and our website.
          Content can be published online at any time. Nouse is the only
          newspaper at York that prints multiple times each term: three times in
          terms one and two and twice in term three, totalling eight times a
          year. We also make some exciting print supplements throughout the
          year, including London Fashion Week, Roses and the York SU elections.
        </p>
        <br />
        <p>
          We spend just over a week producing each printed edition, which we
          call a 'prod week'. All new editions are released on a Tuesday, with
          prod weeks beginning nine days prior, on a Sunday. Our MUSE culture
          sections are produced first, followed by the “main paper” sections.
        </p>
        <br />
        <p>
          For each prod week, there are two prod meetings at which content is
          pitched for the edition. The MUSE prod meeting usually occurs on the
          Friday before prod week begins, eleven days before release, with the
          main paper prod meeting occurring on the first Monday of prod week,
          eight days before release.
        </p>
        <br />
        <p>
          All members, as well as anybody interested in joining the paper, are
          welcome to attend these meetings to suggest ideas and get involved.
          Keep an eye on the Facebook groups to find out meeting times and don’t
          be afraid to just turn up and introduce yourself!
        </p>
      </div>
    </div>
    <div class="mb-4">
      <p class="text-xl sm:text-2xl">Any more questions?</p>
      <div class="text-xs xl:text-sm 2xl:text-base">
        <p>
          We hope you will decide to get involved with York's oldest and
          greatest student group! If you have any further questions about the
          paper and how to get stuck in, don't hesitate to get in touch via
          social media or by emailing 'editor@nouse.co.uk'. Joining Nouse may
          well be the best decision you make while studying at York!
        </p>
      </div>
    </div>
  </div>
</Layout>
