---
import SearchResults from "@components/SolidJS/SearchResults";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Welcome to Astro." active={undefined} style="nouse">
  <main class="px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
    <SearchResults client:only/>
  </main>
</Layout>
