---
import SearchResults from "@components/SolidJS/SearchResults";
import Layout from "src/layouts/Layout.astro";

let baseUrl = import.meta.env.BASE_URL;

baseUrl = baseUrl.slice(0, baseUrl.length - 1);

const apiAddress =
  import.meta.env.MODE === "production"
    ? process.env.LOCAL_DOCKER === "true"
      ? "http://localhost:420/api/searchSuggestions.php"
      : "https://nouse.co.uk/api/searchSuggestions.php"
    : "http://localhost:3000/api/frontend/searchSuggestions";

// Static render this page
export const prerender = true;
---

<Layout title="Welcome to Astro." active={undefined} style="nouse">
  <main class="px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
    <SearchResults client:only baseUrl={baseUrl} apiAddress={apiAddress} />
  </main>
</Layout>
