---
import Layout from "src/layouts/Layout.astro";

// Static render this page
export const prerender = true;
---

<Layout active={undefined} style={"nouse"} title={"Website Credits - Nouse"}>
  <div
    class="min-h-[69dvh] min-h-[69vh] px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]"
  >
    <h1 class="mb-4 text-center text-2xl sm:text-4xl">Website Credits</h1>
    <div class="text-xs xl:text-sm 2xl:text-base">
      <p>
        The Nouse website is the cumulative effort of several people over
        several decades:
      </p>
      <ul class="list-inside list-disc text-xs xl:text-sm 2xl:text-base">
        <li>
          <a
            href="http://www.pling.org.uk/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">Chris Northwood</a
          >
        </li>
        <li>Mike Tomasello</li>
        <li>
          <a
            href="http://alex.mullr.net/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">Alex Muller</a
          >
        </li>
        <li>
          <a
            href="http://ali.clark.gb.net/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">Ali Clark</a
          >
        </li>
        <li>
          <a
            href="http://af.wave3k.net/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">Andrew Fairbairn</a
          >
        </li>
        <li>Ivaylo Hristakiev</li>
        <li>
          <a
            href="https://twitter.com/Frost_J"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">Jonathan Frost</a
          >
        </li>
        <li>Andrew Ryan</li>
        <li>
          <a
            href="http://joshuagoodw.in/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">Josh Goodwin</a
          >
        </li>
        <li>
          <a
            href="http://waterson.co/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">Tim Waterson</a
          >
        </li>
        <li>Owen Hurford</li>
        <li>Toby Makins</li>
        <li>Matt Carabine</li>
        <li>Neel Chotai</li>
        <li>
          <a
            href="https://jbithell.com/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">James Bithell</a
          >
        </li>
        <li>
          <a
            href="https://barillari.me/"
            class="text-blue-900 hover:underline"
            target="_blank"
            rel="noreferrer noopener">Giuseppe Barillari</a
          >
        </li>
        <li>Omar Omar</li>
      </ul>
      <p>
        The new kingfisher logo was designed for Nouse by <a
          href="http://www.linkedin.com/in/sebastianbrixeywilliams"
          class="text-blue-900 hover:underline"
          target="_blank"
          rel="noreferrer noopener">Seb Brixey-Williams</a
        >.
      </p>
    </div>
  </div>
</Layout>
