name: PHPStan
on:
    pull_request:
    workflow_dispatch:
    push:
jobs:
  stan:
    name: PHPStan PHP review
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4.14
          tools: composer
      - name: Git happy
        run: git config --global --add safe.directory /app
      - name: Install composer
        run: |
          chmod +x get_composer.sh
          ./get_composer.sh
      - name: Composer install
        run: php composer.phar install
      - name: PHPStan
        run: php -d memory_limit=512M composer/vendor/bin/phpstan analyse html --level 7